---
layout: header-footer
title: Projects
---
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 px-4">
            <div class="container-fluid">
                <div class="row mb-4">
                    <div class="col-12">
                        <h4 class="text-center">Projects</h4>
                    </div>
                </div>
                <div class="row mb-4 mt-4">
                    <h4 class="text-center"><u>Active</u></h4>
                    {% include project-card.html
                        class="me-4"
                        href="https://bildungsroman.minorgordon.net"
                        img_src="/assets/images/projects/bildungsroman.jpg"
                        subtitle="Digital exhibitions on personal themes"
                        title="Bildungsroman"
                    %}
                    {% include project-card.html
                        class="me-4"
                        href="https://github.com/minorg/compleat-developer"
                        img_src="/assets/images/projects/compleat-developer.png"
                        subtitle="A curated list of resources for generalist software engineers"
                        title="The Compleat Developer"
                    %}
                    {% include project-card.html
                        class="me-4"
                        href="https://www.ardenkirkland.com/work/portfolio/dressdiscover/"
                        img_src="/assets/images/projects/dressdiscover.png"
                        subtitle="Visual workflow for cataloging cultural heritage objects, in collaboration with <a href=\"https://www.ardenkirkland.com\">Arden Kirkland</a>"
                        title="DressDiscover"
                    %}
                    {% include project-card.html
                    class="me-4"
                    href="https://github.com/minorg/knowledge-graph-curator"
                    img_src="/assets/images/projects/knowledge-graph-curator.png"
                    subtitle="Chrome web extension for curating RDF knowledge graph statements from Wikidata and Wikimedia Commons"
                    title="Knowledge graph curator"
                    %}
                    {% include project-card.html
                    href="https://paradicms.org"
                    img_src="/assets/images/projects/paradicms.png"
                    subtitle="Linked Data-powered Collections Management System for archives, libraries, museums, and individuals"
                    title="Paradicms"
                    %}
                </div>
                <div class="row mt-4">
                    <h4 class="text-center"><u>Inactive</u></h4>
                    {% include project-card.html
                    class="me-4"
                    href="/projects/searchsci.html"
                    img_src="/assets/images/projects/searchsci/searchsci-landing.png"
                    subtitle="A web-based research experiment investigating the effects of cognitive bias on our consumption of information online"
                    title="SearchSci"
                    %}
                    {% include project-card.html
                    href="https://github.com/minorg/twks"
                    img_src="/assets/images/projects/twks.png"
                    subtitle="A provenance-aware RDF store"
                    title="Tetherless World Knowledge Store"
                    %}
                </div>
            </div>
        </div>
    </div>
</div>
