---
layout: centered-content
title: Blog
---

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4 class="text-center">Blog</h4>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab" aria-selected="true">Home</button>
                </li>
                {% include blog-category-nav-item.html category="learning" text="Learning" %}
                {% include blog-category-nav-item.html category="opinions" text="Opinions" %}
                {% include blog-category-nav-item.html category="projects" text="Projects" %}
                {% include blog-category-nav-item.html category="teaching" text="Teaching" %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="technical-tab" data-bs-toggle="tab" data-bs-target="#technical-tab-pane" type="button" role="tab" aria-controls="technical-tab" aria-selected="true">Technical</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab-pane">
                    {% include blog-category-table.html category="" %}
                </div>
                {% include blog-category-tab-pane.html category="learning" %}
                {% include blog-category-tab-pane.html category="opinions" %}
                {% include blog-category-tab-pane.html category="projects" %}
                {% include blog-category-tab-pane.html category="teaching" %}
                <div class="tab-pane fade" id="technical-tab-pane" role="tabpanel" aria-labelledby="technical-tab-pane">
                    <div class="my-2">
                        <p>See the <a href="https://paradicms.github.io/blog">Paradicms blog</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
