---
layout: centered-content
title: Blog
---

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h4 class="text-center mb-0">Blog</h4>
            <div class="d-flex justify-content-center mb-0">
                <ul class="list-group list-group-horizontal">
                    {% include blog-category-link.html category="learning" categoryLabel="Learning" %}
                    {% include blog-category-link.html category="opinions" categoryLabel="Opinions" %}
                    {% include blog-category-link.html category="projects" categoryLabel="Projects" %}
                    {% include blog-category-link.html category="teaching" categoryLabel="Teaching" %}
                    {% include blog-category-link.html category="technical" categoryLabel="Technical" %}
                </ul>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <tbody>
                {% include blog-category-table-rows.html category="" %}
                {% include blog-category-table-rows.html category="learning" categoryLabel="Learning" %}
                {% include blog-category-table-rows.html category="opinions" categoryLabel="Opinions" %}
                {% include blog-category-table-rows.html category="projects" categoryLabel="Projects" %}
                {% include blog-category-table-rows.html category="teaching" categoryLabel="Teaching" %}
                <tr id="technical">
                    <td class="text-center" colspan="3">
                        <b>Technical</b>
                    </td>
                </tr>
                {% for post in site.posts %}
                {% if post.categories contains "technical" %}
                {% include blog-category-table-row.html date=post.date description=post.description
                title=post.title url=post.url %}
                {% endif %}
                {% endfor %}
                {% include blog-category-table-row.html date='{{ "2023-07-16" | date: "yyyy-MM-dd" }}'
                description="Paradicms blog post" title="Integrating Getty Linked Art"
                url="https://paradicms.github.io/blog/2023/07/16/integrating-getty-linked-art" %}
                {% include blog-category-table-row.html date='{{ "2023-07-12" | date: "yyyy-MM-dd" }}'
                description="Paradicms blog post" title="Paradicms at LD4 2023"
                url="https://paradicms.github.io/blog/2023/07/12/ld4-2023" %}
                {% include blog-category-table-row.html date='{{ "2023-06-07" | date: "yyyy-MM-dd" }}'
                description="Paradicms blog post" title="RDF-backed models in TypeScript"
                url="https://paradicms.github.io/blog/2023/06/07/rdf-backed-models-in-typescript" %}
                {% include blog-category-table-row.html date='{{ "2023-06-05" | date: "yyyy-MM-dd" }}'
                description="Paradicms blog post" title="Techniques for handling RDF in JavaScript"
                url="https://paradicms.github.io/blog/2023/06/05/javascript-rdf-techniques" %}
                {% include blog-category-table-row.html date='{{ "2023-05-20" | date: "yyyy-MM-dd" }}'
                description="Paradicms blog post" title="Digital collections: data first or interface
                first?" url="https://paradicms.github.io/blog/2023/05/20/data-first-or-interface-first" %}
                {% include blog-category-table-row.html date='{{ "2023-05-11" | date: "yyyy-MM-dd" }}'
                description="Paradicms blog post" title="Data model fever and the case of the missing
                applications" url="https://paradicms.github.io/blog/2023/05/11/data-model-applications" %}
                {% include blog-category-table-row.html date='{{ "2022-04-11" | date: "yyyy-MM-dd" }}'
                description="Paradicms blog post" title="Improving the faceted search interface in the
                Paradicms work search app"
                url="https://paradicms.github.io/blog/2022/04/11/improving-the-faceted-search-interface-in-the-paradicms-work-search-app"
                %}
            </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>